body {
    background-color: rgb(255, 245, 230); 
  }
  
  div {
    width: 150px;
    height: 150px;
    background-color: rgb(153, 204, 255); 
    border: solid medium black;
    border-radius: 25px; 
    padding: 20px; 
    margin: 20px; 
  }
  #box1 {
    background-color: rgb(255, 153, 153); 
    height: 200px; 
    float: left;
  }
  
  #box2, #box3 {
    float: right;
    background-color: rgb(102, 255, 178); 
  }
  #container {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 229, 204); 
    margin-left: auto;
    margin-right: auto;
  }